h1{
	background:
	
	
}
h2{
	background: red;
	font-family: 'Brush Script MT', serif;
}
#korel {
background-color: pink;
}

body {
 background-image: url("romb.jpg");
 background-color: #cccccc;
}
p }
font-color: pink;
}
